/**
 * @file
 * Theme: Modula Martini
 *                                      _/            _/
 *     _/_/_/  _/_/      _/_/      _/_/_/  _/    _/  _/    _/_/_/
 *    _/    _/    _/  _/    _/  _/    _/  _/    _/  _/  _/    _/
 *   _/    _/    _/  _/    _/  _/    _/  _/    _/  _/  _/    _/
 *  _/    _/    _/    _/_/      _/_/_/    _/_/_/  _/    _/_/_/
 *
 */

/* Load the default Redmine stylesheet. */
@import url(../../../stylesheets/application.css);

body,
#wrapper {
  margin-top: .5em;
  background-color: #f5f5f5;
  font-size: 1.2em;
}

#header,
#top-menu {
  margin: 0 1.5em 0 1.5em;
  background-color: #f5f5f5;
  font-size: 100%;
}

/* Let the header flow instead of having fixed height, so that really long project names can wrap without overlapping content. */
#header {
  height: auto;
}

/* Float the page title left so that it will fall below the search box if it gets too wide. */
#header h1 {
  float: left;
  margin: 0 .3em 0.7em;
}

/* Make sure the main-menu is cleared of the flowing and floated page title (#header h1). */
#main-menu {
  position: relative;
  clear: both;
  margin: 0 0 0 -6px;
}

#main {
  background: #f5f5f5;
  margin: 0 1.5em 0 1.5em;
}

#content {
  width: 72%;
  background: #fff;
  padding: 1.7em;
  border-top: 1px #ddd solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-left: 1px #ddd solid;
  -moz-border-radius-topleft: .5em; -webkit-border-top-left-radius: .5em;
  -moz-border-radius-topright: .5em; -webkit-border-top-right-radius: .5em;
  -moz-border-radius-bottomleft: .5em; -webkit-border-bottom-left-radius: .5em;
  -moz-border-radius-bottomright: .5em; -webkit-border-bottom-right-radius: .5em;
}
#sidebar { width: 22%; }
#main.nosidebar #content { border-right: 1px #ccc solid; }
#sidebar { padding-top: 1em; }
#footer { background-color:#f5f5f5; border: 0px; }

body {
  font: 62.5%/1.5 helvetica, "microsoft sans serif", arial, sans-serif;
  color: #333;
}

h1, h2, h3, h4 {
  font-family: helvetica neue, helvetica, "microsoft sans serif", arial, sans-serif;
  color: #555;
  font-weight: normal;
}

#header h1 {
  font-weight: bold;
}

h2, .wiki h1 {
  border-bottom: none;
  color:#D01F3C;
}

h3, .wiki h2 {
  border-bottom: none;
  color:#222;
}

input[type='text'], input[type='password'], textarea { font-size: 13px; font-family: Andale Mono,Lucida Console,Monaco,fixed,monospace; }
input[type="text"], textarea, select { padding: 2px;  }
input[type="text"], textarea, select {
  border: 1px #aaa solid;
  -moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
  -moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
  -moz-border-radius-bottomleft: .3em; -webkit-border-bottom-left-radius: .3em;
  -moz-border-radius-bottomright: .3em; -webkit-border-bottom-right-radius: .3em;
}


/* Link colors
---------------------------------------------------------------------------- */

a,
a:link,
a:visited {
  color: #0088cc;
}

/* Override the color of links in the page title (the parent projects of a subject) so that they are visible. */
#header h1 a,
#header h1 a:link,
#header h1 a:visited {
  color: #888;
  /* Add an underline to note that they are links. */
  text-decoration: underline;
}

/* Make it blatantly obvious that they are links on hover. */
#header h1 a:hover {
  color: #0088cc;
}


/* Top menu
---------------------------------------------------------------------------- */

#top-menu a, #main-menu li a, #quick-search a, .tabular label, th {
  color: #333;
  font-weight: normal;
}

#top-menu #loggedas { margin-right: .5em; padding:2px 6px; color: #888; font-size: .9em; }


#top-menu ul li a{
  padding: 2px 8px 1px 8px;
  margin: 0 .4em 0 0;
  text-decoration: none;
  font-size: .9em;
}

#top-menu ul li a:hover{
  color: #fff;
  background: #555;
  -moz-border-radius-topleft: .6em; -webkit-border-top-left-radius: .6em;
  -moz-border-radius-topright: .6em; -webkit-border-top-right-radius: .6em;
  -moz-border-radius-bottomleft: .6em; -webkit-border-bottom-left-radius: .6em;
  -moz-border-radius-bottomright: .6em; -webkit-border-bottom-right-radius: .6em;
}

/* Main menu
---------------------------------------------------------------------------- */

#main-menu li {
  margin-left: .4em;
  margin-bottom: -1px;
}

#main-menu li a:hover {
  background: transparent;
  color: #0088cc;
}

#main-menu li a.selected {
  border-top: 1px #ddd solid;
  border-right: 1px #ccc solid;
  border-left: 1px #ddd solid;
  -moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
  -moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}


/* Tables
---------------------------------------------------------------------------- */

table.list {
  border: none;
}

table.list th {
  background-color: #fff;
}

/* Align table cells nicely. */
table.list tbody td,
table.list tbody tr td {
  border-bottom: solid 1px #ddd;
  font-size: 100%;
  padding: 4px 10px 4px 3px;
}

/* Align and style table heading cells nicely too. */
table.list thead th {
  border: none;
  border-bottom: 1px solid #999999;
  font-size: 85%;
  font-weight: normal;
  padding: 0 3px 3px;
  text-transform: uppercase;
}

/* Align the checkboxes too in the issues table. */
table.list td.checkbox {
  padding: 7px 10px 7px 3px;
}

/* A subtle difference in size between links and non-links in issue tables. */
table.list tr.issue {
  font-size: 90%;
}

table.list tr.issue a {
  font-size: 111.111%; /* 100 / 90 = 111.11r */
  /* Also, make the hover area of the link as large as practical. */
  display: block;
}

/* Blatantly obvious links on hover. */
table.list tr.issue a:hover {
  color: #0088cc;
}

/* Tweak the layout for the litle arrow on child-issues for the block-layout of the link. */
table.list tr.issue.idnt td.subject a {
  background-position: -6px 1px;
  padding-left: 8px;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
tr.odd.priority-5, table.list tbody tr.odd.priority-5:hover { color: #900; font-weight: bold; }
tr.odd.priority-5 { background: #ffc4c4; }
tr.even.priority-5, table.list tbody tr.even.priority-5:hover { color: #900; font-weight: bold; }
tr.even.priority-5 { background: #ffd4d4; }
tr.priority-5 a, tr.priority-5:hover a { color: #900; }
tr.odd.priority-5 td, tr.even.priority-5 td { border-color: #ffb4b4; }

tr.odd.priority-4, table.list tbody tr.odd.priority-4:hover { color: #900; }
tr.odd.priority-4 { background: #ffc4c4; }
tr.even.priority-4, table.list tbody tr.even.priority-4:hover { color: #900; }
tr.even.priority-4 { background: #ffd4d4; }
tr.priority-4 a { color: #900; }
tr.odd.priority-4 td, tr.even.priority-4 td { border-color: #ffb4b4; }

tr.odd.priority-3, table.list tbody tr.odd.priority-3:hover { color: #900; }
tr.odd.priority-3 { background: #fee; }
tr.even.priority-3, table.list tbody tr.even.priority-3:hover { color: #900; }
tr.even.priority-3 { background: #fff2f2; }
tr.priority-3 a { color: #900; }
tr.odd.priority-3 td, tr.even.priority-3 td { border-color: #fcc; }

/* Set the default colors for non-link text issue rows of "Normal" priority. */
tr.odd.priority-2, table.list tbody tr.odd.priority-2:hover { color: #333; }
tr.even.priority-2, table.list tbody tr.even.priority-2:hover { color: #333; }
tr.priority-2 a { color: #333; }

tr.odd.priority-1, table.list tbody tr.odd.priority-1:hover { color: #559; }
tr.odd.priority-1 { background: #eaf7ff; }
tr.even.priority-1, table.list tbody tr.even.priority-1:hover { color: #559; }
tr.even.priority-1 { background: #f2faff; }
tr.priority-1 a { color: #559; }
tr.odd.priority-1 td, tr.even.priority-1 td { border-color: #add7f3; }


/* Other
---------------------------------------------------------------------------- */

#content .tabs ul li a {
  color: #333;
  font-weight: normal;
  -moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
  -moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
}

.nodata, #login-form table, .flash.notice {
  border-width: 1px;
  -moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
  -moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
  -moz-border-radius-bottomleft: .3em; -webkit-border-bottom-left-radius: .3em;
  -moz-border-radius-bottomright: .3em; -webkit-border-bottom-right-radius: .3em;
}

.box {
  padding: .5em 1.5em;
  background: #fffafa;
  border-top: 1px #eee solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-left: 1px #eee solid;
  -moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
  -moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
  -moz-border-radius-bottomleft: .3em; -webkit-border-bottom-left-radius: .3em;
  -moz-border-radius-bottomright: .3em; -webkit-border-bottom-right-radius: .3em;
}

fieldset {
  border-top: 1px #eee solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  border-left: 1px #eee solid;
  -moz-border-radius-topleft: .3em; -webkit-border-top-left-radius: .3em;
  -moz-border-radius-topright: .3em; -webkit-border-top-right-radius: .3em;
  -moz-border-radius-bottomleft: .3em; -webkit-border-bottom-left-radius: .3em;
  -moz-border-radius-bottomright: .3em; -webkit-border-bottom-right-radius: .3em;
}

img.gravatar {
  margin-bottom: -.2em;
  margin-right: .5em;
}


/* The "Loading" overlay
---------------------------------------------------------------------------- */
#ajax-indicator {
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  background: #000;
  color: #fff;
}

#ajax-indicator span {
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  background: url(../images/loading.gif) top center no-repeat;
  padding: 75px 0 0;
  font-size: 135%;
  text-shadow: 0 0 100px #fff;
}


/* A block-clearing class
---------------------------------------------------------------------------- */
.clearfix:after,
#header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* IE6 */
* html .clearfix,
* html #header {
  height: 1%;
}
/* IE7 */
*:first-child + html .clearfix,
*:first-child + html #header {
  min-height: 1%;
}
